@using DTO.Enum;
@using Helper;

@model UI.Models.UserViewModel
@{
    ViewData["Title"] = "User Page";
    ViewBag.Current = "User";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" id="dropdownMenuButton" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
            <span data-feather="github"></span>
            Add New
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/User/NewUser">New User</a>
            <a class="dropdown-item" href="/User/NewManager">New Manager</a>
        </div>
    </div>
</div>
<label>Total Users: @Model.Users.Count</label>
<div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Display Name</th>
                <th>User Role</th>
                <th>Date Created</th>
                <th>Last Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td><a href="@Url.Action("Profile","User", new { UserID = item.UserID })">@item.UserName</a></td>
                    <td><a href="@Url.Action("Profile","User", new { UserID = item.UserID })">@item.Person.DisplayName</a></td>
                    <td>@((UserRole)item.UserRole)</td>
                    <td>@HelperDateTime.GetPrettyDate(item.DateCreated.ToLocalTime())</td>
                    <td>@HelperDateTime.GetPrettyDate(item.DateLastActive.ToLocalTime())</td>
                </tr>
            }
        </tbody>
    </table>
</div>

