@using DTO.Enum;
@using Helper;

@model UI.Models.UserViewModel;

@{
    ViewData["Title"] = "User Profile Page";
    ViewBag.Current = "User";
}

<div class="row">
    <div class="col order-md-1">
        <div class="row">
            <div class="col">
                <h5 class="mb-3">User's Profile</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="mb-3 text-info">@Model.User.Person.DisplayName</h3>
            </div>
            <div class="col">
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger btn-sm mr-2" data-toggle="modal" data-target="#exampleModal">
                        Delete
                    </button>
                    <a href="@Url.Action("Edit","User",new { UserID = Model.User.UserID })" class="btn btn-primary btn-sm">Edit</a>
                </div>

            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="abouot-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="campaign-tab" data-toggle="tab" href="#campaign" role="tab" aria-controls="campaign" aria-selected="false">Campaigns</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                <dl class="row mt-3">
                    <dt class="col-3 font-weight-bold">User Name:</dt>
                    <dd class="col-9">@Model.User.UserName</dd>
                    <dt class="col-3 font-weight-bold">Name:</dt>
                    <dd class="col-9">@Model.User.Person.FirstName @Model.User.Person.MiddleName @Model.User.Person.LastName (@Model.User.Person.DisplayName) </dd>
                    <dt class="col-3 font-weight-bold">Gender:</dt>
                    <dd class="col-9">@((Gender)Model.User.Person.Gender)</dd>
                    <dt class="col-3 font-weight-bold">Age:</dt>
                    <dd class="col-9">@(HelperDateTime.GetAge(Model.User.Person.DOB.Value)) years</dd>
                    <dt class="col-3 font-weight-bold">Phone:</dt>
                    <dd class="col-9">@Model.User.Person.Contacts.FirstOrDefault().Phone</dd>

                    <dt class="col-3 font-weight-bold">Address:</dt>
                    <dd class="col-9">@Model.FullAddress</dd>

                </dl>
            </div>
            <div class="tab-pane fade" id="campaign" role="tabpanel" aria-labelledby="campaign-tab">Coming soon</div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form class="needs-validation" asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input name="UserID" value="@Model.User.UserID" asp-route="UserID" hidden/>
        <div class="modal-dialog  border-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You are going to remove the user's records from system. This action can not be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>

